.Logo {
    width: 4em;
    text-align: center;
    border: 1px solid #e1e2e6;
    background-color: #e1e2e6;
    border-width: inherit;
    left: 0;
}

.Logo img {
    height: 100%;
}
@media only screen and (max-width: 500px) and (min-width:320px) {
    .Logo{
        width: 15vw;
    }
}